{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf%} {% block body
%}
<div class="container-fluid blog-container">
  <div class="col-md-8">
    <div class="blogs">
      <div class="card card_blogs">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ blog.content}}</p>
        </div>
        <div class="card-footer">
          <p class="card-text blogsmall">
            <small>{{ blog.date_published }}</small>
          </p>
          {% if current_user.is_authenticated and current_user.is_writer %}
          <span class="edit-blog">
            <a type="button" href="/blog/{{blog.id}}/update">Edit Blog</a>
          </span>
          {% endif %}
          <span class="heart">
            {% if current_user.is_authenticated and current_user.is_writer %}
            <span class="delete-blog">
              <a href=" /delete/blog/{{ blog.id }}"><i class="fa fa-fw fa-trash"></i></a>
            </span>
            {% endif %}
            <span class="heart">
              <a href="/blog/{{blog.id}}/like"><i class="fas fa-heart"></i>
                {{ blog.hearts }}
              </a>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    {% if current_user.is_authenticated %}
      {{wtf.quick_form(comment_form)}}
    {% else %}
      Please sign-in to add your comment.
    {% endif %}
    <div class="card comment_card" style="width: 100%">
      {% if comments.count() > 0 %} {% for comment in comments %}
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{comment.comment}}</p>
          <footer class="blockquote-footer">{{user.username}}</footer>
        </blockquote>
        {% if current_user.is_authenticated and current_user.is_writer %}
        <a href="/blog/{{ blog.id }}/delete/comment/{{ comment.id }}"><i class="fa fa-fw fa-trash delete"></i></a>
        {% endif %}
      </div>

      {% endfor %} {% else %}
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">No comments yet!</footer>
        </blockquote>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}