{% extends "base.html" %}
{% block body %}
<div class="container-fluid blog-container">
  <div class="col-md-8">
    <div class="blogs">
      {% for blog in blogs %}
      <div class="card card_blogs">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ blog.content }}</p>
        </div>
        <div class="card-footer">
          <small class="blogsmall">{{ blog.author}}</small>
          <p class="card-text blogsmall"><small>{{ blog.date }}</small></p>
          <span class="heart">
            <span class="heart">
              <a href=""
                ><i class="fas fa-heart"></i>
                {{ blog.heart }}
              </a>
            </span>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-4 quote-container">
    <div class="card text-center quote">
      <blockquote class="blockquote mb-0">
        <p>{{ quote.quote }}</p>
        <footer class="blockquote-footer quote-author">
          <small> {{ quote.author }} </small>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
{% endblock %}